<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#;">
	<div class="widget-name text-center">
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
		<span class="cmd refresh pull-right cursor">
			<span id="iconSSH#id#"></span>
			<script>
				if ('#cnx_ssh#' == 'OK') {
					$('#iconSSH#id#').append('<i title="Connexion SSH OK" class="fas fa-check tooltips" style="font-size : 1.1em;color: var(--al-success-color) !important;"></i>');
				}
				if ('#cnx_ssh#' == 'KO') {
					$('#iconSSH#id#').append('<i title="Connexion SSH KO" class="fas fa-times tooltips" style="font-size : 1.1em;color: var(--al-danger-color) !important;"></i>');
				}
			</script>
			<span title="Eteindre l'Equipement" class="poweroff tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_poweroff_id#" style="float: right;display: #cmd_poweroff_display#;">
				<a class="action" style="cursor: pointer;"><i class="fas fa-power-off" style="padding-left:5px;"></i></a>
				<script>
					$('.poweroff[data-cmd_id=#cmd_poweroff_id#] .action').on('click', function () {
						bootbox.confirm('Etes-vous sûr de vouloir éteindre l\'équipement #name# ?', function (result) {
							if (result) {
								jeedom.cmd.execute({ id: '#cmd_poweroff_id#' });
							}
						});
					});
				</script>
			</span>
			<span title="Redémarrer l'Equipement" class="reboot tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_reboot_id#" style="float: right;display: #cmd_reboot_display#;">
				<a class="action" style="cursor: pointer;"><i class="fas fa-redo" style="padding-left:5px;"></i></a>
				<script>
					$('.reboot[data-cmd_id=#cmd_reboot_id#] .action').on('click', function () {
						bootbox.confirm('Etes-vous sûr de vouloir redémarrer l\'équipement #name# ?', function (result) {
							if (result) {
								jeedom.cmd.execute({ id: '#cmd_reboot_id#' });
							}
						});
					});
				</script>
			</span>
		</span>
	</div>
	<div class="cmds text-left" style="display:block;">
		<div class="tooltips" data-cmd_id="#namedistriid#" style="margin-left:5px;display: #namedistri_display#;">
			<span title="Distribution Linux</br><i>Date de valeur : #namedistri_value#</br>Date de collecte : #namedistri_collect#</i>" class="fab fa-linux" style="min-width:15px;"></span>
			<span>#namedistri#</span>
		</div>
		<div class="tooltips" data-cmd_id="#uptimeid#" style="margin-left:5px;display: #uptime_display#;">
			<span title="Temps d'Activité (UpTime)</br><i>Date de valeur : #uptime_value#</br>Date de collecte : #uptime_collect#</i>" class="fas fa-tachometer-alt" style="min-width:15px;"></span>
			<span id="uptime#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				$('#uptime#id#').append('<span class="value">#uptime#</span>');
			}
		</script>
		<div class="tooltips" style="margin-left:5px;display: #loadavg_display#;">
			<span title="Charge Système (Load Average)</br><i>Date de valeur : #loadavg_value#</br>Date de collecte : #loadavg_collect#</i>" class="fa techno-courbes3" style="width:15px;"></span>
			<span id="loadavg1mn#id#"></span><span id="loadavg5mn#id#"></span><span id="loadavg15mn#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#loadavg1mn#' === '') {
					$('#loadavg1mn#id#').append('<span></span>');
				} else if (parseFloat('#loadavg1mn#') < parseFloat('#loadavg1mn_colorlow#')) {
					$('#loadavg1mn#id#').append('1 min : <span data-cmd_id="#loadavg1mnid#" class="value history cursor" style="color: var(--al-success-color) !important;">#loadavg1mn#</span>');
				} else if ((parseFloat('#loadavg1mn#') >= parseFloat('#loadavg1mn_colorlow#')) && (parseFloat('#loadavg1mn#') <= parseFloat('#loadavg1mn_colorhigh#'))) {
					$('#loadavg1mn#id#').append('1 min : <span data-cmd_id="#loadavg1mnid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#loadavg1mn#</span>');
				} else if ((parseFloat('#loadavg1mn#') > parseFloat('#loadavg1mn_colorhigh#')) && '#loadavg1mn_colorhigh#' !== '') {
					$('#loadavg1mn#id#').append('1 min : <span data-cmd_id="#loadavg1mnid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#loadavg1mn#</span>');
				} else {
					$('#loadavg1mn#id#').append('1 min : <span data-cmd_id="#loadavg1mnid#" class="value history cursor">#loadavg1mn#</span>');
				}

				if ('#loadavg5mn#' === '') {
					$('#loadavg5mn#id#').append('<span></span>');
				} else if (parseFloat('#loadavg5mn#') < parseFloat('#loadavg5mn_colorlow#')) {
					$('#loadavg5mn#id#').append(' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor" style="color: var(--al-success-color) !important;">#loadavg5mn#</span>');
				} else if ((parseFloat('#loadavg5mn#') >= parseFloat('#loadavg5mn_colorlow#')) && (parseFloat('#loadavg5mn#') <= parseFloat('#loadavg5mn_colorhigh#'))) {
					$('#loadavg5mn#id#').append(' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#loadavg5mn#</span>');
				} else if ((parseFloat('#loadavg5mn#') > parseFloat('#loadavg5mn_colorhigh#')) && '#loadavg5mn_colorhigh#' !== '') {
					$('#loadavg5mn#id#').append(' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#loadavg5mn#</span>');
				} else {
					$('#loadavg5mn#id#').append(' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor">#loadavg5mn#</span>');
				}
				if ('#loadavg15mn#' === '') {
					$('#loadavg15mn#id#').append('<span></span>');
				} else if (parseFloat('#loadavg15mn#') < parseFloat('#loadavg15mn_colorlow#')) {
					$('#loadavg15mn#id#').append(' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor" style="color: var(--al-success-color) !important;" >#loadavg15mn#</span>');
				} else if ((parseFloat('#loadavg15mn#') >= parseFloat('#loadavg15mn_colorlow#')) && (parseFloat('#loadavg15mn#') <= parseFloat('#loadavg15mn_colorhigh#'))) {
					$('#loadavg15mn#id#').append(' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor" style="color: var(--al-warning-color) !important;" >#loadavg15mn#</span>');
				} else if ((parseFloat('#loadavg15mn#') > parseFloat('#loadavg15mn_colorhigh#')) && '#loadavg15mn_colorhigh#' !== '') {
					$('#loadavg15mn#id#').append(' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor" style="color: var(--al-danger-color) !important;" >#loadavg15mn#</span>');
				} else {
					$('#loadavg15mn#id#').append(' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor">#loadavg15mn#</span>');
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#Mempourcid#" style="margin-left:5px;display: #Mem_display#;">
			<span title="Mémoire Vive (% Libre)</br><i>Date de valeur : #Mem_value#</br>Date de collecte : #Mem_collect#</i>" class="fa techno-memory" style="width:15px;"></span>
			<span id="Mempourcent#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#Mempourc#' === '') {
					$('#Mempourcent#id#').append('<span>#Mem#</span>');
				} else if ((parseInt('#Mempourc#') > parseInt('#Mempourc_colorhigh#')) && '#Mempourc_colorhigh#' !== '') {
					$('#Mempourcent#id#').append('#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor" style="color: var(--al-success-color) !important;" >#Mempourc#</span><span>%</span>)');
				} else if ((parseInt('#Mempourc#') >= parseInt('#Mempourc_colorlow#')) && (parseInt('#Mempourc#') <= parseInt('#Mempourc_colorhigh#'))) {
					$('#Mempourcent#id#').append('#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor" style="color: var(--al-warning-color) !important;" >#Mempourc#</span><span>%</span>)');
				} else if (parseInt('#Mempourc#') < parseInt('#Mempourc_colorlow#')) {
					$('#Mempourcent#id#').append('#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor" style="color: var(--al-danger-color) !important;" >#Mempourc#</span><span>%</span>)');
				} else {
					$('#Mempourcent#id#').append('#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor" >#Mempourc#</span><span>%</span>)');
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#Swappourcid#" style="margin-left:5px;display: #Mem_swap_display#;">
			<span title="Mémoire Swap (% Libre)</br><i>Date de valeur : #Mem_swap_value#</br>Date de collecte : #Mem_swap_collect#</i>" class="fas fa-list" style="width:15px;"></span>
			<span id="Swappourc#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#Swappourc#' === '') {
					$('#Swappourc#id#').append('<span>#Mem_swap#</span>');
				} else if ((parseInt('#Swappourc#') > parseInt('#Swappourc_colorhigh#')) && '#Swappourc_colorhigh#' !== '') {
					$('#Swappourc#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor" style="color: var(--al-success-color) !important;">#Swappourc#</span><span>%</span>)');
				} else if ((parseInt('#Swappourc#') >= parseInt('#Swappourc_colorlow#')) && (parseInt('#Swappourc#') <= parseInt('#Swappourc_colorhigh#'))) {
					$('#Swappourc#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#Swappourc#</span><span>%</span>)');
				} else if (parseInt('#Swappourc#') < parseInt('#Swappourc_colorlow#')) {
					$('#Swappourc#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#Swappourc#</span><span>%</span>)');
				} else {
					$('#Swappourc#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor" >#Swappourc#</span><span>%</span>)');
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#ethernet0id#" style="margin-left:5px;display: #ethernet0_display#;">
			<span title="Trafic Réseau (#ethernet0_name# / #ethernet0_ip#)</br><i>Date de valeur : #ethernet0_value#</br>Date de collecte : #ethernet0_collect#</i>" class="fa techno-fleches" style="width:15px;"></span>
			<span id="ethernet0#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				$('#ethernet0#id#').append('<span">#ethernet0#</span>');
			}
		</script>
		<div class="tooltips" data-cmd_id="#hddpourcusedid#" style="margin-left:5px;display: #hddused_display#;">
			<span title="Espace Disque (% Utilisé)</br><i>Date de valeur : #hddtotal_value#</br>Date de collecte : #hddtotal_collect#</i>" class="fas fa-hdd" style="width:15px;"></span>
			<span id="hddpourcused#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#hddpourcused#' === '') {
					$('#hddpourcused#id#').append('<span></span>');
				} else if (parseInt('#hddpourcused#') < parseInt('#hddpourcused_colorlow#')) {
					$('#hddpourcused#id#').append('Total : <span class="value">#hddtotal#</span> - Utilisé : <span class="value">#hddused#</span> (<span data-cmd_id="#hddpourcusedid#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcused#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcused#') >= parseInt('#hddpourcused_colorlow#')) && (parseInt('#hddpourcused#') <= parseInt('#hddpourcused_colorhigh#'))) {
					$('#hddpourcused#id#').append('Total : <span class="value">#hddtotal#</span> - Utilisé : <span class="value">#hddused#</span> (<span data-cmd_id="#hddpourcusedid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcused#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcused#') > parseInt('#hddpourcused_colorhigh#')) && '#hddpourcused_colorhigh#' !== '') {
					$('#hddpourcused#id#').append('Total : <span class="value">#hddtotal#</span> - Utilisé : <span class="value">#hddused#</span> (<span data-cmd_id="#hddpourcusedid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcused#</span><span>%</span>)');
				} else {
					$('#hddpourcused#id#').append('Total : #hddtotal# - Utilisé : #hddused# (<span data-cmd_id="#hddpourcusedid#" class="value history cursor">#hddpourcused#</span><span>%</span>)');
				}
			}
		</script>
		<div id="synovol2#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolume2_display#' == 'OK') {
					$('#synovol2#id#').append('<div id="synovol2#id#" class="tooltips" data-cmd_id="#hddpourcusedv2id#" style="margin-left:5px;display: #hddusedv2_display#;"><span title="Syno Volume 2 (% Utilisé)</br><i>Date de valeur : #hddtotalv2_value#</br>Date de collecte : #hddtotalv2_collect#</i>" class="fas fa-hdd" style="width:15px;"></span> <span id="hddpourcusedv2#id#"></span></div>');
				}
				if ('#hddpourcusedv2#' === '') {
					$('#hddpourcusedv2#id#').append('<span></span>');
				} else if (parseInt('#hddpourcusedv2#') < parseInt('#hddpourcusedv2_colorlow#')) {
					$('#hddpourcusedv2#id#').append('Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcusedv2#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcusedv2#') >= parseInt('#hddpourcusedv2_colorlow#')) && (parseInt('#hddpourcusedv2#') <= parseInt('#hddpourcusedv2_colorhigh#'))) {
					$('#hddpourcusedv2#id#').append('Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcusedv2#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcusedv2#') > parseInt('#hddpourcusedv2_colorhigh#')) && '#hddpourcusedv2_colorhigh#' !== '') {
					$('#hddpourcusedv2#id#').append('Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcusedv2#</span><span>%</span>)');
				} else {
					$('#hddpourcusedv2#id#').append('Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor">#hddpourcusedv2#</span><span>%</span>)');
				}
			}
		</script>
		<div id="synovolusb#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolumeusb_display#' == 'OK') {
					$('#synovolusb#id#').append('<div id="synovolusb#id#" class="tooltips" data-cmd_id="#hddpourcusedusbid#" style="margin-left:5px;display: #hddusedusb_display#;"><span title="Syno Volume USB (% Utilisé)</br><i>Date de valeur : #hddtotalusb_value#</br>Date de collecte : #hddtotalusb_collect#</i>" class="fab fa-usb" style="width:15px;"></span> <span id="hddpourcusedusb#id#"></span></div>');
				}
				if ('#hddpourcusedusb#' === '') {
					$('#hddpourcusedusb#id#').append('<span></span>');
				} else if (parseInt('#hddpourcusedusb#') < parseInt('#hddpourcusedusb_colorlow#')) {
					$('#hddpourcusedusb#id#').append('Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcusedusb#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcusedusb#') >= parseInt('#hddpourcusedusb_colorlow#')) && (parseInt('#hddpourcusedusb#') <= parseInt('#hddpourcusedusb_colorhigh#'))) {
					$('#hddpourcusedusb#id#').append('Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcusedusb#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcusedusb#') > parseInt('#hddpourcusedusb_colorhigh#')) && '#hddpourcusedusb_colorhigh#' !== '') {
					$('#hddpourcusedusb#id#').append('Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcusedusb#</span><span>%</span>)');
				} else {
					$('#hddpourcusedusb#id#').append('Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor">#hddpourcusedusb#</span><span>%</span>)');
				}
			}
		</script>
		<div id="synovolesata#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolumeesata_display#' == 'OK') {
					$('#synovolesata#id#').append('<div id="synovolesata#id#" class="tooltips" data-cmd_id="#hddpourcusedesataid#" style="margin-left:5px;display: #hddusedesata_display#;"><span title="Syno Volume eSATA (% Utilisé)</br><i>Date de valeur : #hddtotalesata_value#</br>Date de collecte : #hddtotalesata_collect#</i>" class="fas fa-hdd" style="width:15px;"></span> <span id="hddpourcusedesata#id#"></span></div>');
				}
				if ('#hddpourcusedesata#' === '') {
					$('#hddpourcusedesata#id#').append('<span></span>');
				} else if (parseInt('#hddpourcusedesata#') < parseInt('#hddpourcusedesata_colorlow#')) {
					$('#hddpourcusedesata#id#').append('Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcusedesata#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcusedesata#') >= parseInt('#hddpourcusedesata_colorlow#')) && (parseInt('#hddpourcusedesata#') <= parseInt('#hddpourcusedesata_colorhigh#'))) {
					$('#hddpourcusedesata#id#').append('Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcusedesata#</span><span>%</span>)');
				} else if ((parseInt('#hddpourcusedesata#') > parseInt('#hddpourcusedesata_colorhigh#')) && '#hddpourcusedesata_colorhigh#' !== '') {
					$('#hddpourcusedesata#id#').append('Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcusedesata#</span><span>%</span>)');
				} else {
					$('#hddpourcusedesata#id#').append('Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor">#hddpourcusedesata#%</span>)');
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#cpu_tempid#" style="margin-left:5px;display: #cpu_display#;">
			<span title="Nombre CPU - Fréquence (Température)</br><i>Date de valeur : #cpu_value#</br>Date de collecte : #cpu_collect#</i>" class="fa techno-pc" style="width:15px;"></span>
			<span id="cpu#id#"></span><span id="cpu_temp#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#cpu_temp#' !== '' && '#cpu_temp_display#' == 'OK') {
					if (parseFloat('#cpu_temp#') < parseFloat('#cpu_temp_colorlow#')) {
						$('#cpu#id#').append('<span class="value">#cpu# </span>');
						$('#cpu_temp#id#').append('(<span data-cmd_id="#cpu_tempid#" class="value history cursor" style="color: var(--al-success-color) !important;">#cpu_temp#</span><span>°C</span>)');
					} else if ((parseFloat('#cpu_temp#') >= parseFloat('#cpu_temp_colorlow#')) && (parseFloat('#cpu_temp#') <= parseFloat('#cpu_temp_colorhigh#'))) {
						$('#cpu#id#').append('<span>#cpu# </span>');
						$('#cpu_temp#id#').append('(<span data-cmd_id="#cpu_tempid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#cpu_temp#</span><span>°C</span>)');
					} else if ((parseFloat('#cpu_temp#') > parseFloat('#cpu_temp_colorhigh#')) && '#cpu_temp_colorhigh#' !== '') {
						$('#cpu#id#').append('<span>#cpu# </span>');
						$('#cpu_temp#id#').append('(<span data-cmd_id="#cpu_tempid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#cpu_temp#</span><span>°C</span>)');
					} else {
						$('#cpu#id#').append('<span>#cpu# </span>');
						$('#cpu_temp#id#').append('(<span data-cmd_id="#cpu_tempid#" class="value history cursor">#cpu_temp#</span><span>°C</span>)');
					}
				} else {
					$('#cpu#id#').append('<span class="value">#cpu#</span>');
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#perso1id#" style="margin-left:5px;display: #perso1_display#;">
			<span class="fa" title="#nameperso1#</br><i>Date de valeur : #perso1_value#</br>Date de collecte : #perso1_collect#</i>" style="width: 15px;max-width: 15px;max-height: 15px;">#iconeperso1#</span>
			<span id="uniteperso1#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#perso1#' !== '') {
					if (parseFloat('#perso1#') < parseFloat('#perso1_colorlow#')) {
						$('#uniteperso1#id#').append('<span data-cmd_id="#uniteperso1#id# class="value history cursor" style="color: var(--al-success-color) !important;">#perso1#</span><span>#uniteperso1#</span>');
					} else if ((parseFloat('#perso1#') >= parseFloat('#perso1_colorlow#')) && (parseFloat('#perso1#') <= parseFloat('#perso1_colorhigh#'))) {
						$('#uniteperso1#id#').append('<span data-cmd_id="#uniteperso1#id# class="value history cursor" style="color: var(--al-warning-color) !important;">#perso1#</span><span>#uniteperso1#</span>');
					} else if ((parseFloat('#perso1#') > parseFloat('#perso1_colorhigh#')) && parseFloat('#perso1_colorhigh#') !== '') {
						$('#uniteperso1#id#').append('<span data-cmd_id="#uniteperso1#id# class="value history cursor" style="color: var(--al-danger-color) !important;">#perso1#</span><span>#uniteperso1#</span>');
					} else {
						$('#uniteperso1#id#').append('<span data-cmd_id="#perso1id#" class="value history cursor">#perso1#</span><span>#uniteperso1#</span>');
					}
				} else {
					$('#uniteperso1#id#').append('<span></span>');
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#perso2id#" style="margin-left:5px;display: #perso2_display#;">
			<span class="fa" title="#nameperso2#</br><i>Date de valeur : #perso2_value#</br>Date de collecte : #perso2_collect#</i>" style="width: 15px;max-width: 15px;max-height: 15px;">#iconeperso2#</span>
			<span id="uniteperso2#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#perso2#' !== '') {
					if (parseFloat('#perso2#') < parseFloat('#perso2_colorlow#')) {
						$('#uniteperso2#id#').append('<span data-cmd_id="#uniteperso2#id# class="value history cursor" style="color: var(--al-success-color) !important;" >#perso2#</span><span>#uniteperso2#</span>');
					} else if ((parseFloat('#perso2#') >= parseFloat('#perso2_colorlow#')) && (parseFloat('#perso2#') <= parseFloat('#perso2_colorhigh#'))) {
						$('#uniteperso2#id#').append('<span data-cmd_id="#uniteperso2#id# class="value history cursor" style="color: var(--al-warning-color) !important;" >#perso2#</span><span>#uniteperso2#</span>');
					} else if ((parseFloat('#perso2#') > parseFloat('#perso2_colorhigh#')) && parseFloat('#perso2_colorhigh#') !== '') {
						$('#uniteperso2#id#').append('<span data-cmd_id="#uniteperso2#id# class="value history cursor" style="color: var(--al-danger-color) !important;" >#perso2#</span><span>#uniteperso2#</span>');
					} else {
						$('#uniteperso2#id#').append('<span data-cmd_id="#perso2id#" class="value history cursor">#perso2#</span><span>#uniteperso2#</span>');
					}
				} else {
					$('#uniteperso2#id#').append('<span></span>');
				}
			}
		</script>
	</div>
	#divGraphInfo#
</div>