<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#;">
	<div class="widget-name text-center">
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
		<span class="cmd refresh pull-right">
			<span id="iconCron#id#"></span>
			<script>
				if ('#cron_status#' == '1') {
					if ('#cron_status_custom#' == '1') {
						document.getElementById('iconCron#id#').innerHTML = '<span title="Cron ON (Custom)" class="fas fa-play-circle tooltips" style="display: #cron_status_display#;color: var(--al-warning-color) !important;"></i>';
					} else {
						document.getElementById('iconCron#id#').innerHTML = '<span title="Cron ON (Default)" class="fas fa-play-circle tooltips" style="display: #cron_status_display#;color: var(--al-success-color) !important;"></i>';
					}
				}
				if ('#cron_status#' == '0') {
					if ('#cron_status_custom#' == '1') {
						document.getElementById('iconCron#id#').innerHTML = '<i title="Cron OFF (Custom)" class="fas fa-pause-circle tooltips" style="display: #cron_status_display#;color: var(--al-warning-color) !important;"></i>';
					} else {
						document.getElementById('iconCron#id#').innerHTML = '<i title="Cron OFF (Default)" class="fas fa-pause-circle tooltips" style="display: #cron_status_display#;color: var(--al-danger-color) !important;"></i>';
					}
				}
			</script>
			<span id="iconSSH#id#"></span>
			<script>
				if ('#cnx_ssh#' == 'OK') {
					document.getElementById('iconSSH#id#').innerHTML = '<i title="Connexion SSH OK" class="fas fa-check tooltips" style="color: var(--al-success-color) !important;"></i>';
				}
				if ('#cnx_ssh#' == 'KO') {
					document.getElementById('iconSSH#id#').innerHTML = '<i title="Connexion SSH KO" class="fas fa-times tooltips" style="color: var(--al-danger-color) !important;"></i>';
				}
			</script>
			<span title="Eteindre l'équipement" class="poweroff tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_poweroff_id#" style="float: right;display: #cmd_poweroff_display#;">
				<a class="action" style="cursor: pointer;"><i class="fas fa-power-off" style="padding-left:5px;"></i></a>
				<script>
					document.querySelector('.poweroff[data-cmd_id="#cmd_poweroff_id#"] .action')?.addEventListener('click', function () {
						jeeDialog.confirm({
							title: '<i class="danger fas fa-question-circle"></i> Eteindre l\'équipement',
							message: 'Etes-vous sûr de vouloir éteindre l\'équipement #name# ?',
							buttons: {
								confirm: {
									label: 'Eteindre',
									className: 'danger'
								},
								cancel: {
									label: 'Annuler',
									className: 'info'
								}
							},
							callback: function (result) {
								if (result) {
									jeedom.cmd.execute({ id: '#cmd_poweroff_id#' });
								}
							}
						});
					});
				</script>
			</span>
			<span title="Redémarrer l'équipement" class="reboot tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_reboot_id#" style="float: right;display: #cmd_reboot_display#;">
				<a class="action" style="cursor: pointer;"><i class="fas fa-redo" style="padding-left:5px;"></i></a>
				<script>
					document.querySelector('.reboot[data-cmd_id="#cmd_reboot_id#"] .action').addEventListener('click', function () {
						jeeDialog.confirm({
							title: '<i class="warning fas fa-question-circle"></i> Redémarrer l\'équipement',
							message: 'Etes-vous sûr de vouloir redémarrer l\'équipement #name# ?',
							buttons: {
								confirm: {
									label: 'Redémarrer',
									className: 'warning'
								},
								cancel: {
									label: 'Annuler',
									className: 'info'
								}
							},
							callback: function (result) {
								if (result) {
									jeedom.cmd.execute({ id: '#cmd_reboot_id#' });
								}
							}
						});
					});
				</script>
			</span>
		</span>
	</div>
	<div class="cmds text-left" style="display:block;">
		<div class="tooltips" data-cmd_id="#namedistriid#" style="margin-left:5px;display: #namedistri_display#;">
			<span title="Distribution Linux</br><i>Date de valeur : #namedistri_value#</br>Date de collecte : #namedistri_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#namedistri_icon#</span>
			<span>#namedistri#</span>
		</div>
		<div class="tooltips" data-cmd_id="#uptimeid#" style="margin-left:5px;display: #uptime_display#;">
			<span title="Temps d'Activité (UpTime)</br><i>Date de valeur : #uptime_value#</br>Date de collecte : #uptime_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#uptime_icon#</span>
			<span id="uptime#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				document.getElementById('uptime#id#').innerHTML = '<span>#uptime#</span>';
			}
		</script>
		<div class="tooltips" style="margin-left:5px;display: #loadavg_display#;">
			<span title="Charge Système (Load Average)</br><i>Date de valeur : #loadavg_value#</br>Date de collecte : #loadavg_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#loadavg1mn_icon#</span>
			<span id="loadavg1mn#id#"></span><span id="loadavg5mn#id#"></span><span id="loadavg15mn#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#loadavg1mn#' === '') {
					document.getElementById('loadavg1mn#id#').innerHTML = '<span></span>';
				} else if (parseFloat('#loadavg1mn#') < parseFloat('#loadavg1mn_colorlow#')) {
					document.getElementById('loadavg1mn#id#').innerHTML = '1 min : <span title="min: #minHistoryValue# | moy: #averageHistoryValue# | max: #maxHistoryValue#" data-cmd_id="#loadavg1mnid#" class="value history cursor tooltips" style="color: var(--al-success-color) !important;">#loadavg1mn#</span>';
				} else if ((parseFloat('#loadavg1mn#') >= parseFloat('#loadavg1mn_colorlow#')) && (parseFloat('#loadavg1mn#') <= parseFloat('#loadavg1mn_colorhigh#'))) {
					document.getElementById('loadavg1mn#id#').innerHTML = '1 min : <span title="min: #minHistoryValue# | moy: #averageHistoryValue# | max: #maxHistoryValue#" data-cmd_id="#loadavg1mnid#" class="value history cursor tooltips" style="color: var(--al-warning-color) !important;">#loadavg1mn#</span>';
				} else if ((parseFloat('#loadavg1mn#') > parseFloat('#loadavg1mn_colorhigh#')) && '#loadavg1mn_colorhigh#' !== '') {
					document.getElementById('loadavg1mn#id#').innerHTML = '1 min : <span title="min: #minHistoryValue# | moy: #averageHistoryValue# | max: #maxHistoryValue#" data-cmd_id="#loadavg1mnid#" class="value history cursor tooltips" style="color: var(--al-danger-color) !important;">#loadavg1mn#</span>';
				} else {
					document.getElementById('loadavg1mn#id#').innerHTML = '1 min : <span title="min: #minHistoryValue# | moy: #averageHistoryValue# | max: #maxHistoryValue#" data-cmd_id="#loadavg1mnid#" class="value history cursor tooltips">#loadavg1mn#</span>';
				}

				if ('#loadavg5mn#' === '') {
					document.getElementById('loadavg5mn#id#').innerHTML = '<span></span>';
				} else if (parseFloat('#loadavg5mn#') < parseFloat('#loadavg5mn_colorlow#')) {
					document.getElementById('loadavg5mn#id#').innerHTML = ' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor" style="color: var(--al-success-color) !important;">#loadavg5mn#</span>';
				} else if ((parseFloat('#loadavg5mn#') >= parseFloat('#loadavg5mn_colorlow#')) && (parseFloat('#loadavg5mn#') <= parseFloat('#loadavg5mn_colorhigh#'))) {
					document.getElementById('loadavg5mn#id#').innerHTML = ' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#loadavg5mn#</span>';
				} else if ((parseFloat('#loadavg5mn#') > parseFloat('#loadavg5mn_colorhigh#')) && '#loadavg5mn_colorhigh#' !== '') {
					document.getElementById('loadavg5mn#id#').innerHTML = ' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#loadavg5mn#</span>';
				} else {
					document.getElementById('loadavg5mn#id#').innerHTML = ' - 5 min : <span data-cmd_id="#loadavg5mnid#" class="value history cursor">#loadavg5mn#</span>';
				}
				if ('#loadavg15mn#' === '') {
					document.getElementById('loadavg15mn#id#').innerHTML = '<span></span>';
				} else if (parseFloat('#loadavg15mn#') < parseFloat('#loadavg15mn_colorlow#')) {
					document.getElementById('loadavg15mn#id#').innerHTML = ' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor" style="color: var(--al-success-color) !important;">#loadavg15mn#</span>';
				} else if ((parseFloat('#loadavg15mn#') >= parseFloat('#loadavg15mn_colorlow#')) && (parseFloat('#loadavg15mn#') <= parseFloat('#loadavg15mn_colorhigh#'))) {
					document.getElementById('loadavg15mn#id#').innerHTML = ' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#loadavg15mn#</span>';
				} else if ((parseFloat('#loadavg15mn#') > parseFloat('#loadavg15mn_colorhigh#')) && '#loadavg15mn_colorhigh#' !== '') {
					document.getElementById('loadavg15mn#id#').innerHTML = ' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#loadavg15mn#</span>';
				} else {
					document.getElementById('loadavg15mn#id#').innerHTML = ' - 15 min : <span data-cmd_id="#loadavg15mnid#" class="value history cursor">#loadavg15mn#</span>';
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#Mempourcid#" style="margin-left:5px;display: #Mem_display#;">
			<span title="Mémoire Vive (% Libre)</br><i>Date de valeur : #Mem_value#</br>Date de collecte : #Mem_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#Mem_icon#</span>
			<span id="Mempourcent#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#Mempourc#' === '') {
					document.getElementById('Mempourcent#id#').innerHTML = '<span>#Mem#</span>';
				} else if ((parseInt('#Mempourc#') > parseInt('#Mempourc_colorhigh#')) && '#Mempourc_colorhigh#' !== '') {
					document.getElementById('Mempourcent#id#').innerHTML = '#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor" style="color: var(--al-success-color) !important;">#Mempourc#</span><span>%</span>)';
				} else if ((parseInt('#Mempourc#') >= parseInt('#Mempourc_colorlow#')) && (parseInt('#Mempourc#') <= parseInt('#Mempourc_colorhigh#'))) {
					document.getElementById('Mempourcent#id#').innerHTML = '#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#Mempourc#</span><span>%</span>)';
				} else if (parseInt('#Mempourc#') < parseInt('#Mempourc_colorlow#')) {
					document.getElementById('Mempourcent#id#').innerHTML = '#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#Mempourc#</span><span>%</span>)';
				} else {
					document.getElementById('Mempourcent#id#').innerHTML = '#Mem# (<span data-cmd_id="#Mempourcid#" class="value history cursor">#Mempourc#</span><span>%</span>)';
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#Swappourcid#" style="margin-left:5px;display: #Mem_swap_display#;">
			<span title="Mémoire Swap (% Libre)</br><i>Date de valeur : #Mem_swap_value#</br>Date de collecte : #Mem_swap_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#Mem_swap_icon#</span>
			<span id="Swappourc#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#Swappourc#' === '') {
					document.getElementById('Swappourc#id#').innerHTML = '<span></span>';
				} else if ((parseInt('#Swappourc#') > parseInt('#Swappourc_colorhigh#')) && '#Swappourc_colorhigh#' !== '') {
					document.getElementById('Swappourc#id#').innerHTML = '#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor" style="color: var(--al-success-color) !important;">#Swappourc#</span><span>%</span>)';
				} else if ((parseInt('#Swappourc#') >= parseInt('#Swappourc_colorlow#')) && (parseInt('#Swappourc#') <= parseInt('#Swappourc_colorhigh#'))) {
					document.getElementById('Swappourc#id#').innerHTML = '#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#Swappourc#</span><span>%</span>)';
				} else if (parseInt('#Swappourc#') < parseInt('#Swappourc_colorlow#')) {
					document.getElementById('Swappourc#id#').innerHTML = '#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#Swappourc#</span><span>%</span>)';
				} else {
					document.getElementById('Swappourc#id#').innerHTML = '#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="value history cursor">#Swappourc#</span><span>%</span>)';
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#ethernet0id#" style="margin-left:5px;display: #ethernet0_display#;">
			<span title="Trafic Réseau (#ethernet0_name# / #ethernet0_ip#)</br><i>Date de valeur : #ethernet0_value#</br>Date de collecte : #ethernet0_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#ethernet0_icon#</span>
			<span id="ethernet0#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				document.getElementById('ethernet0#id#').innerHTML = '<span>#ethernet0#</span>';
			}
		</script>
		<div class="tooltips" data-cmd_id="#hddpourcusedid#" style="margin-left:5px;display: #hddused_display#;">
			<span title="Espace Disque (% Utilisé)</br><i>Date de valeur : #hddtotal_value#</br>Date de collecte : #hddtotal_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#hddtotal_icon#</span>
			<span id="hddpourcused#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#hddpourcused#' === '') {
					document.getElementById('hddpourcused#id#').innerHTML = '<span></span>';
				} else if (parseInt('#hddpourcused#') < parseInt('#hddpourcused_colorlow#')) {
					document.getElementById('hddpourcused#id#').innerHTML = 'Total : <span class="value">#hddtotal#</span> - Utilisé : <span class="value">#hddused#</span> (<span data-cmd_id="#hddpourcusedid#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcused#</span><span>%</span>)';
				} else if ((parseInt('#hddpourcused#') >= parseInt('#hddpourcused_colorlow#')) && (parseInt('#hddpourcused#') <= parseInt('#hddpourcused_colorhigh#'))) {
					document.getElementById('hddpourcused#id#').innerHTML = 'Total : <span class="value">#hddtotal#</span> - Utilisé : <span class="value">#hddused#</span> (<span data-cmd_id="#hddpourcusedid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcused#</span><span>%</span>)';
				} else if ((parseInt('#hddpourcused#') > parseInt('#hddpourcused_colorhigh#')) && '#hddpourcused_colorhigh#' !== '') {
					document.getElementById('hddpourcused#id#').innerHTML = 'Total : <span class="value">#hddtotal#</span> - Utilisé : <span class="value">#hddused#</span> (<span data-cmd_id="#hddpourcusedid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcused#</span><span>%</span>)';
				} else {
					document.getElementById('hddpourcused#id#').innerHTML = 'Total : <span class="value">#hddtotal#</span> - Utilisé : <span class="value">#hddused#</span> (<span data-cmd_id="#hddpourcusedid#" class="value history cursor">#hddpourcused#</span><span>%</span>)';
				}
			}
		</script>
		<div id="synovol2#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolume2_display#' == 'OK') {
					document.getElementById('synovol2#id#').innerHTML = '<div id="synovol2#id#" class="tooltips" data-cmd_id="#hddpourcusedv2id#" style="margin-left:5px;display: #hddusedv2_display#;"><span title="Syno Volume 2 (% Utilisé)</br><i>Date de valeur : #hddtotalv2_value#</br>Date de collecte : #hddtotalv2_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#hddtotalv2_icon#</span> <span id="hddpourcusedv2#id#"></span></div>';
					if ('#hddpourcusedv2#' === '') {
						document.getElementById('hddpourcusedv2#id#').innerHTML = '<span></span>';
					} else if (parseInt('#hddpourcusedv2#') < parseInt('#hddpourcusedv2_colorlow#')) {
						document.getElementById('hddpourcusedv2#id#').innerHTML = 'Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcusedv2#</span><span>%</span>)';
					} else if ((parseInt('#hddpourcusedv2#') >= parseInt('#hddpourcusedv2_colorlow#')) && (parseInt('#hddpourcusedv2#') <= parseInt('#hddpourcusedv2_colorhigh#'))) {
						document.getElementById('hddpourcusedv2#id#').innerHTML = 'Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcusedv2#</span><span>%</span>)';
					} else if ((parseInt('#hddpourcusedv2#') > parseInt('#hddpourcusedv2_colorhigh#')) && '#hddpourcusedv2_colorhigh#' !== '') {
						document.getElementById('hddpourcusedv2#id#').innerHTML = 'Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcusedv2#</span><span>%</span>)';
					} else {
						document.getElementById('hddpourcusedv2#id#').innerHTML = 'Total : <span class="value">#hddtotalv2#</span> - Utilisé : <span class="value">#hddusedv2#</span> (<span data-cmd_id="#hddpourcusedv2id#" class="value history cursor">#hddpourcusedv2#</span><span>%</span>)';
					}
				}
			}
		</script>
		<div id="synovolusb#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolumeusb_display#' == 'OK') {
					document.getElementById('synovolusb#id#').innerHTML = '<div id="synovolusb#id#" class="tooltips" data-cmd_id="#hddpourcusedusbid#" style="margin-left:5px;display: #hddusedusb_display#;"><span title="Syno Volume USB (% Utilisé)</br><i>Date de valeur : #hddtotalusb_value#</br>Date de collecte : #hddtotalusb_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#hddtotalusb_icon#</span> <span id="hddpourcusedusb#id#"></span></div>';
				
					if ('#hddpourcusedusb#' === '') {
						document.getElementById('hddpourcusedusb#id#').innerHTML = '<span></span>';
					} else if (parseInt('#hddpourcusedusb#') < parseInt('#hddpourcusedusb_colorlow#')) {
						document.getElementById('hddpourcusedusb#id#').innerHTML = 'Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcusedusb#</span><span>%</span>)';
					} else if ((parseInt('#hddpourcusedusb#') >= parseInt('#hddpourcusedusb_colorlow#')) && (parseInt('#hddpourcusedusb#') <= parseInt('#hddpourcusedusb_colorhigh#'))) {
						document.getElementById('hddpourcusedusb#id#').innerHTML = 'Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcusedusb#</span><span>%</span>)';
					} else if ((parseInt('#hddpourcusedusb#') > parseInt('#hddpourcusedusb_colorhigh#')) && '#hddpourcusedusb_colorhigh#' !== '') {
						document.getElementById('hddpourcusedusb#id#').innerHTML = 'Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcusedusb#</span><span>%</span>)';
					} else {
						document.getElementById('hddpourcusedusb#id#').innerHTML = 'Total : <span class="value">#hddtotalusb#</span> - Utilisé : <span class="value">#hddusedusb#</span> (<span data-cmd_id="#hddpourcusedusbid#" class="value history cursor">#hddpourcusedusb#</span><span>%</span>)';
					}
				}
			}
		</script>
		<div id="synovolesata#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolumeesata_display#' == 'OK') {
					document.getElementById('synovolesata#id#').innerHTML = '<div id="synovolesata#id#" class="tooltips" data-cmd_id="#hddpourcusedesataid#" style="margin-left:5px;display: #hddusedesata_display#;"><span title="Syno Volume eSATA (% Utilisé)</br><i>Date de valeur : #hddtotalesata_value#</br>Date de collecte : #hddtotalesata_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#hddtotalesata_icon#</span> <span id="hddpourcusedesata#id#"></span></div>';
					if ('#hddpourcusedesata#' === '') {
						document.getElementById('hddpourcusedesata#id#').innerHTML = '<span></span>';
					} else if (parseInt('#hddpourcusedesata#') < parseInt('#hddpourcusedesata_colorlow#')) {
						document.getElementById('hddpourcusedesata#id#').innerHTML = 'Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor" style="color: var(--al-success-color) !important;">#hddpourcusedesata#</span><span>%</span>)';
					} else if ((parseInt('#hddpourcusedesata#') >= parseInt('#hddpourcusedesata_colorlow#')) && (parseInt('#hddpourcusedesata#') <= parseInt('#hddpourcusedesata_colorhigh#'))) {
						document.getElementById('hddpourcusedesata#id#').innerHTML = 'Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#hddpourcusedesata#</span><span>%</span>)';
					} else if ((parseInt('#hddpourcusedesata#') > parseInt('#hddpourcusedesata_colorhigh#')) && '#hddpourcusedesata_colorhigh#' !== '') {
						document.getElementById('hddpourcusedesata#id#').innerHTML = 'Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#hddpourcusedesata#</span><span>%</span>)';
					} else {
						document.getElementById('hddpourcusedesata#id#').innerHTML = 'Total : <span class="value">#hddtotalesata#</span> - Utilisé : <span class="value">#hddusedesata#</span> (<span data-cmd_id="#hddpourcusedesataid#" class="value history cursor">#hddpourcusedesata#</span><span>%</span>)';
					}
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#cpu_tempid#" style="margin-left:5px;display: #cpu_display#;">
			<span title="Nombre CPU - Fréquence (Température)</br><i>Date de valeur : #cpu_value#</br>Date de collecte : #cpu_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#cpu_icon#</span>
			<span id="cpu#id#"></span><span id="cpu_temp#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#cpu_temp#' !== '' && '#cpu_temp_display#' == 'OK') {
					document.getElementById('cpu#id#').innerHTML = '<span>#cpu# </span>';
					if (parseFloat('#cpu_temp#') < parseFloat('#cpu_temp_colorlow#')) {
						document.getElementById('cpu_temp#id#').innerHTML = '(<span data-cmd_id="#cpu_tempid#" class="value history cursor" style="color: var(--al-success-color) !important;">#cpu_temp#</span><span>°C</span>)';
					} else if ((parseFloat('#cpu_temp#') >= parseFloat('#cpu_temp_colorlow#')) && (parseFloat('#cpu_temp#') <= parseFloat('#cpu_temp_colorhigh#'))) {
						document.getElementById('cpu_temp#id#').innerHTML = '(<span data-cmd_id="#cpu_tempid#" class="value history cursor" style="color: var(--al-warning-color) !important;">#cpu_temp#</span><span>°C</span>)';
					} else if ((parseFloat('#cpu_temp#') > parseFloat('#cpu_temp_colorhigh#')) && '#cpu_temp_colorhigh#' !== '') {
						document.getElementById('cpu_temp#id#').innerHTML = '(<span data-cmd_id="#cpu_tempid#" class="value history cursor" style="color: var(--al-danger-color) !important;">#cpu_temp#</span><span>°C</span>)';
					} else {
						document.getElementById('cpu_temp#id#').innerHTML = '(<span data-cmd_id="#cpu_tempid#" class="value history cursor">#cpu_temp#</span><span>°C</span>)';
					}
				} else {
					document.getElementById('cpu#id#').innerHTML = '<span>#cpu#</span>';
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#perso1id#" style="margin-left:5px;display: #perso1_display#;">
			<span title="#perso1_name#</br><i>Date de valeur : #perso1_value#</br>Date de collecte : #perso1_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#perso1_icon#</span>
			<span id="perso1_unite#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#perso1#' !== '') {
					if (parseFloat('#perso1#') < parseFloat('#perso1_colorlow#')) {
						document.getElementById('perso1_unite#id#').innerHTML = '<span data-cmd_id="#perso1id#" class="value history cursor" style="color: var(--al-success-color) !important;">#perso1#</span><span>#perso1_unite#</span>';
					} else if ((parseFloat('#perso1#') >= parseFloat('#perso1_colorlow#')) && (parseFloat('#perso1#') <= parseFloat('#perso1_colorhigh#'))) {
						document.getElementById('perso1_unite#id#').innerHTML = '<span data-cmd_id="#perso1id#" class="value history cursor" style="color: var(--al-warning-color) !important;">#perso1#</span><span>#perso1_unite#</span>';
					} else if ((parseFloat('#perso1#') > parseFloat('#perso1_colorhigh#')) && parseFloat('#perso1_colorhigh#') !== '') {
						document.getElementById('perso1_unite#id#').innerHTML = '<span data-cmd_id="#perso1id#" class="value history cursor" style="color: var(--al-danger-color) !important;">#perso1#</span><span>#perso1_unite#</span>';
					} else {
						document.getElementById('perso1_unite#id#').innerHTML = '<span data-cmd_id="#perso1id#" class="value history cursor">#perso1#</span><span>#perso1_unite#</span>';
					}
				} else {
					document.getElementById('perso1_unite#id#').innerHTML = '<span></span>';
				}
			}
		</script>
		<div class="tooltips" data-cmd_id="#perso2id#" style="margin-left:5px;display: #perso2_display#;">
			<span title="#perso2_name#</br><i>Date de valeur : #perso2_value#</br>Date de collecte : #perso2_collect#</i>" style="width:15px;max-width:15px;max-height:15px;">#perso2_icon#</span>
			<span id="perso2_unite#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#perso2#' !== '') {
					if (parseFloat('#perso2#') < parseFloat('#perso2_colorlow#')) {
						document.getElementById('perso2_unite#id#').innerHTML = '<span data-cmd_id="#perso2id#" class="value history cursor" style="color: var(--al-success-color) !important;">#perso2#</span><span>#perso2_unite#</span>';
					} else if ((parseFloat('#perso2#') >= parseFloat('#perso2_colorlow#')) && (parseFloat('#perso2#') <= parseFloat('#perso2_colorhigh#'))) {
						document.getElementById('perso2_unite#id#').innerHTML = '<span data-cmd_id="#perso2id#" class="value history cursor" style="color: var(--al-warning-color) !important;">#perso2#</span><span>#perso2_unite#</span>';
					} else if ((parseFloat('#perso2#') > parseFloat('#perso2_colorhigh#')) && parseFloat('#perso2_colorhigh#') !== '') {
						document.getElementById('perso2_unite#id#').innerHTML = '<span data-cmd_id="#perso2id#" class="value history cursor" style="color: var(--al-danger-color) !important;">#perso2#</span><span>#perso2_unite#</span>';
					} else {
						document.getElementById('perso2_unite#id#').innerHTML = '<span data-cmd_id="#perso2id#" class="value history cursor">#perso2#</span><span>#perso2_unite#</span>';
					}
				} else {
					document.getElementById('perso2_unite#id#').innerHTML = '<span></span>';
				}
			}
		</script>
	</div>
	#divGraphInfo#
</div>