<div class="eqLogic eqLogic-widget col2" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#;">
	<span class="cmd refresh pull-right">
		<span id="iconCron#id#"></span>
		<script>
			if ('#cron_status#' == '1') {
				if ('#cron_status_custom#' == '1') {
					document.getElementById('iconCron#id#').innerHTML = '<i title="Cron ON (Custom)" class="fas fa-play-circle tooltips" style="display: #cron_status_display#;color: var(--al-warning-color) !important;"></i>';
				} else {
					document.getElementById('iconCron#id#').innerHTML = '<i title="Cron ON (Default)" class="fas fa-play-circle tooltips" style="display: #cron_status_display#;color: var(--al-success-color) !important;"></i>';
				}
			}
			if ('#cron_status#' == '0') {
				if ('#cron_status_custom#' == '1') {
					document.getElementById('iconCron#id#').innerHTML = '<i title="Cron OFF (Custom)" class="fas fa-pause-circle tooltips" style="display: #cron_status_display#;color: var(--al-warning-color) !important;"></i>';
				} else {
					document.getElementById('iconCron#id#').innerHTML = '<i title="Cron OFF (Default)" class="fas fa-pause-circle tooltips" style="display: #cron_status_display#;color: var(--al-danger-color) !important;"></i>';
				}
			}
		</script>
		<span id="iconSSH#id#"></span>
		<script>
			if ('#cnx_ssh#' == 'OK') {
				document.getElementById('iconSSH#id#').innerHTML = '<i title="Connexion SSH OK" class="fas fa-check tooltips" style="color: var(--al-success-color) !important;" ></i>';
			}
			if ('#cnx_ssh#' == 'KO') {
				document.getElementById('iconSSH#id#').innerHTML = '<i title="Connexion SSH KO" class="fas fa-times tooltips" style="color: var(--al-danger-color) !important;"></i>';
			}
		</script>
		<span title="Eteindre l'équipement" class="poweroff tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_poweroff_id#" style="float: right;display: #cmd_poweroff_display#;">
			<a class="action" style="cursor: pointer;"><i class="fas fa-power-off" style="padding-left:5px;"></i></a>
			<script>
				document.querySelector('.poweroff[data-cmd_id="#cmd_poweroff_id#"] .action').addEventListener('click', function () {
					jeeDialog.confirm({
						title: '<i class="danger fas fa-question-circle"></i> Eteindre l\'équipement',
						message: 'Etes-vous sûr de vouloir éteindre l\'équipement #name# ?',
						buttons: {
							confirm: {
								label: 'Eteindre',
								className: 'danger'
							},
							cancel: {
								label: 'Annuler',
								className: 'info'
							}
						},
						callback: function (result) {
							if (result) {
								jeedom.cmd.execute({ id: '#cmd_poweroff_id#' });
							}
						}
					});
				});
			</script>
		</span>
		<span title="Redémarrer l'équipement" class="reboot tooltips" data-type="action" data-subtype="other" data-cmd_id="#cmd_reboot_id#" style="float: right;display: #cmd_reboot_display#;">
			<a class="action" style="cursor: pointer;"><i class="fas fa-redo" style="padding-left:5px;"></i></a>
			<script>
				document.querySelector('.reboot[data-cmd_id="#cmd_reboot_id#"] .action').addEventListener('click', function () {
					jeeDialog.confirm({
						title: '<i class="warning fas fa-question-circle"></i> Redémarrer l\'équipement',
						message: 'Etes-vous sûr de vouloir redémarrer l\'équipement #name# ?',
						buttons: {
							confirm: {
								label: 'Redémarrer',
								className: 'warning'
							},
							cancel: {
								label: 'Annuler',
								className: 'info'
							}
						},
						callback: function (result) {
							if (result) {
								jeedom.cmd.execute({ id: '#cmd_reboot_id#' });
							}
						}
					});
				});
			</script>
		</span>
	</span>
	<center>
		<span class="widget-name" style="#hideEqLogicName#;">#name_display# <span class="object_name" style="font-size: 0.85em;position: relative;top:-2px;display:none;">#object_name#</span></span>
	</center>
	<div style="padding: 5px;">
		<div class="cmd tooltips" style="margin-left:5px;display: #distri_name_display#;">
			<span title="Distribution Linux || Date valeur : #distri_name_value# || Date collecte : #distri_name_collect#" style="width:15px;max-width:15px;max-height:15px;">#distri_name_icon#</span>
			<span>#distri_name#</span>
		</div>
		<div class="cmd tooltips" style="margin-left:5px;display: #uptime_display#;">
			<span title="Temps d'Activité (UpTime) || Date valeur : #uptime_value# || Date collecte : #uptime_collect#" style="width:15px;max-width:15px;max-height:15px;">#uptime_icon#</span>
			<span id="uptime#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				document.getElementById('uptime#id#').innerHTML = '<span>#uptime#</span>';
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #load_avg_display#;">
			<span title="Charge système (load average) || Date valeur : #load_avg_value# || Date collecte : #load_avg_collect#" style="width:15px;max-width:15px;max-height:15px;">#load_avg_icon#</span>
			<span id="load_avg_1mn#id#"></span><span id="load_avg_5mn#id#"></span><span id="load_avg_15mn#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#load_avg_1mn#' === '') {
					document.getElementById('load_avg_1mn#id#').innerHTML = '<span></span>';
				} else if (parseFloat('#load_avg_1mn#') < parseFloat('#load_avg_1mn_colorlow#')) {
					document.getElementById('load_avg_1mn#id#').innerHTML = '1 min : <span class="state" style="color: var(--al-success-color) !important;">#load_avg_1mn#</span>';
				} else if ((parseFloat('#load_avg_1mn#') >= parseFloat('#load_avg_1mn_colorlow#')) && (parseFloat('#load_avg_1mn#') <= parseFloat('#load_avg_1mn_colorhigh#'))) {
					document.getElementById('load_avg_1mn#id#').innerHTML = '1 min : <span class="state" style="color: var(--al-warning-color) !important;">#load_avg_1mn#</span>';
				} else if ((parseFloat('#load_avg_1mn#') > parseFloat('#load_avg_1mn_colorhigh#')) && '#load_avg_1mn_colorhigh#' !== '') {
					document.getElementById('load_avg_1mn#id#').innerHTML = '1 min : <span class="state" style="color: var(--al-danger-color) !important;">#load_avg_1mn#</span>';
				} else {
					document.getElementById('load_avg_1mn#id#').innerHTML = '1 min : <span class="state">#load_avg_1mn#</span>';
				}
				if ('#load_avg_5mn#' === '') {
					document.getElementById('load_avg_5mn#id#').innerHTML = '<span></span>';
				} else if (parseFloat('#load_avg_5mn#') < parseFloat('#load_avg_5mn_colorlow#')) {
					document.getElementById('load_avg_5mn#id#').innerHTML = ' - 5 min : <span class="state" style="color: var(--al-success-color) !important;">#load_avg_5mn#</span>';
				} else if ((parseFloat('#load_avg_5mn#') >= parseFloat('#load_avg_5mn_colorlow#')) && (parseFloat('#load_avg_5mn#') <= parseFloat('#load_avg_5mn_colorhigh#'))) {
					document.getElementById('load_avg_5mn#id#').innerHTML = ' - 5 min : <span class="state" style="color: var(--al-warning-color) !important;">#load_avg_5mn#</span>';
				} else if ((parseFloat('#load_avg_5mn#') > parseFloat('#load_avg_5mn_colorhigh#')) && '#load_avg_5mn_colorhigh#' !== '') {
					document.getElementById('load_avg_5mn#id#').innerHTML = ' - 5 min : <span class="state" style="color: var(--al-danger-color) !important;">#load_avg_5mn#</span>';
				} else {
					document.getElementById('load_avg_5mn#id#').innerHTML = ' - 5 min : <span class="state">#load_avg_5mn#</span>';
				}
				if ('#load_avg_15mn#' === '') {
					document.getElementById('load_avg_15mn#id#').innerHTML = '<span></span>';
				} else if (parseFloat('#load_avg_15mn#') < parseFloat('#load_avg_15mn_colorlow#')) {
					document.getElementById('load_avg_15mn#id#').innerHTML = ' - 15 min : <span class="state" style="color: var(--al-success-color) !important;">#load_avg_15mn#</span>';
				} else if ((parseFloat('#load_avg_15mn#') >= parseFloat('#load_avg_15mn_colorlow#')) && (parseFloat('#load_avg_15mn#') <= parseFloat('#load_avg_15mn_colorhigh#'))) {
					document.getElementById('load_avg_15mn#id#').innerHTML = ' - 15 min : <span class="state" style="color: var(--al-warning-color) !important;">#load_avg_15mn#</span>';
				} else if ((parseFloat('#load_avg_15mn#') > parseFloat('#load_avg_15mn_colorhigh#')) && '#load_avg_15mn_colorhigh#' !== '') {
					document.getElementById('load_avg_15mn#id#').innerHTML = ' - 15 min : <span class="state" style="color: var(--al-danger-color) !important;">#load_avg_15mn#</span>';
				} else {
					document.getElementById('load_avg_15mn#id#').innerHTML = ' - 15 min : <span class="state">#load_avg_15mn#</span>';
				}
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #memory_display#;">
			<span title="Mémoire Vive (% Disponible) || Date valeur : #memory_value# || Date collecte : #memory_collect#" style="width:15px;max-width:15px;max-height:15px;">#memory_icon#</span>
			<span id="memory_available_percent#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#memory_available_percent#' === '') {
					document.getElementById('memory_available_percent#id#').innerHTML = '<span>#memory#</span>';
				} else if ((parseInt('#memory_available_percent#') > parseInt('#memory_available_percent_colorhigh#')) && '#memory_available_percent_colorhigh#' !== '') {
					document.getElementById('memory_available_percent#id#').innerHTML = '#memory# (<span class="state" style="color: var(--al-success-color) !important;">#memory_available_percent#</span><span>%</span>)';
				} else if ((parseInt('#memory_available_percent#') >= parseInt('#memory_available_percent_colorlow#')) && (parseInt('#memory_available_percent#') <= parseInt('#memory_available_percent_colorhigh#'))) {
					document.getElementById('memory_available_percent#id#').innerHTML = '#memory# (<span class="state" style="color: var(--al-warning-color) !important;">#memory_available_percent#</span><span>%</span>)';
				} else if (parseInt('#memory_available_percent#') < parseInt('#memory_available_percent_colorlow#')) {
					document.getElementById('memory_available_percent#id#').innerHTML = '#memory# (<span class="state" style="color: var(--al-danger-color) !important;">#memory_available_percent#</span><span>%</span>)';
				} else {
					document.getElementById('memory_available_percent#id#').innerHTML = '#memory# (<span class="state">#memory_available_percent#</span><span>%</span>)';
				}
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #swap_display#;">
			<span title="Mémoire Swap (% Libre) || Date valeur : #swap_value# || Date collecte : #swap_collect#" style="width:15px;max-width:15px;max-height:15px;">#swap_icon#</span>
			<span id="swap_free_percent#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#swap_free_percent#' === '') {
					document.getElementById('swap_free_percent#id#').innerHTML = '<span>#swap#</span>';
				} else if ((parseInt('#swap_free_percent#') > parseInt('#swap_free_percent_colorhigh#')) && '#swap_free_percent_colorhigh#' !== '') {
					document.getElementById('swap_free_percent#id#').innerHTML = '#swap# (<span class="state" style="color: var(--al-success-color) !important;">#swap_free_percent#</span><span>%</span>)';
				} else if ((parseInt('#swap_free_percent#') >= parseInt('#swap_free_percent_colorlow#')) && (parseInt('#swap_free_percent#') <= parseInt('#swap_free_percentc_colorhigh#'))) {
					document.getElementById('swap_free_percent#id#').innerHTML = '#swap# (<span class="state" style="color: var(--al-warning-color) !important;">#swap_free_percent#</span><span>%</span>)';
				} else if (parseInt('#swap_free_percent#') < parseInt('#swap_free_percent_colorlow#')) {
					document.getElementById('swap_free_percent#id#').innerHTML = '#swap# (<span class="state" style="color: var(--al-danger-color) !important;">#swap_free_percent#</span><span>%</span>)';
				} else {
					document.getElementById('swap_free_percent#id#').innerHTML = '#swap# (<span class="state">#swap_free_percent#</span><span>%</span>)';
				}
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #network_display#;">
			<span title="Trafic Réseau (#network_name# / #network_ip#) || Date valeur : #network_value# || Date collecte : #network_collect#" style="width:15px;max-width:15px;max-height:15px;">#network_icon#</span>
			<span id="network#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				document.getElementById('network#id#').innerHTML = '<span>#network#</span>';
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #hdd_display#;">
			<span title="Espace disque (% utilisé) || Date valeur : #hdd_value# || Date collecte : #hdd_collect#" style="width:15px;max-width:15px;max-height:15px;">#hdd_icon#</span>
			<span id="hdd#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#hdd_used_percent#' === '') {
					document.getElementById('hdd#id#').innerHTML = '<span></span>';
				} else if (parseInt('#hdd_used_percent#') < parseInt('#hdd_used_percent_colorlow#')) {
					document.getElementById('hdd#id#').innerHTML = 'Total : <span class="state">#hdd_total#</span> - Utilisé : <span class="state">#hdd_used#</span> (<span class="state" style="color: var(--al-success-color) !important;">#hdd_used_percent#</span><span>%</span>)';
				} else if ((parseInt('#hdd_used_percent#') >= parseInt('#hdd_used_percent_colorlow#')) && (parseInt('#hdd_used_percent#') <= parseInt('#hdd_used_percent_colorhigh#'))) {
					document.getElementById('hdd#id#').innerHTML = 'Total : <span class="state">#hdd_total#</span> - Utilisé : <span class="state">#hdd_used#</span> (<span class="state" style="color: var(--al-warning-color) !important;">#hdd_used_percent#</span><span>%</span>)';
				} else if ((parseInt('#hdd_used_percent#') > parseInt('#hdd_used_percent_colorhigh#')) && '#hdd_used_percent_colorhigh#' !== '') {
					document.getElementById('hdd#id#').innerHTML = 'Total : <span class="state">#hdd_total#</span> - Utilisé : <span class="state">#hdd_used#</span> (<span class="state" style="color: var(--al-danger-color) !important;">#hdd_used_percent#</span><span>%</span>)';
				} else {
					document.getElementById('hdd#id#').innerHTML = 'Total : <span class="state">#hdd_total#</span> - Utilisé : <span class="state">#hdd_used#</span> (<span class="state">#hdd_used_percent#</span><span>%</span>)';
				}
			}
		</script>
		<div id="synovol2#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolume2_display#' == 'OK') {
					document.getElementById('synovol2#id#').innerHTML = '<div id="synovol2#id#" class="cmd tooltips" style="margin-left:5px;display: #syno_hddv2_display#;"><span title="Syno Volume 2 (% utilisé) || Date valeur : #syno_hddv2_value# || Date collecte : #syno_hddv2_collect#" style="width:15px;max-width:15px;max-height:15px;">#syno_hddv2_icon#</span> <span id="syno_hddv2_used_percent#id#"></span></div>';
					if ('#syno_hddv2_used_percent#' === '') {
						document.getElementById('syno_hddv2_used_percent#id#').innerHTML = '<span></span>';
					} else if (parseInt('#syno_hddv2_used_percent#') < parseInt('#syno_hddv2_used_percent_colorlow#')) {
						document.getElementById('syno_hddv2_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddv2_total#</span> - Utilisé : <span class="state">#syno_hddv2_used#</span> (<span class="state" style="color: var(--al-success-color) !important;">#syno_hddv2_used_percent#</span><span>%</span>)';
					} else if ((parseInt('#syno_hddv2_used_percent#') >= parseInt('#syno_hddv2_used_percent_colorlow#')) && (parseInt('#syno_hddv2_used_percent#') <= parseInt('#syno_hddv2_used_percent_colorhigh#'))) {
						document.getElementById('syno_hddv2_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddv2_total#</span> - Utilisé : <span class="state">#syno_hddv2_used#</span> (<span class="state" style="color: var(--al-warning-color) !important;">#syno_hddv2_used_percent#</span><span>%</span>)';
					} else if ((parseInt('#syno_hddv2_used_percent#') > parseInt('#syno_hddv2_used_percent_colorhigh#')) && '#syno_hddv2_used_percent_colorhigh#' !== '') {
						document.getElementById('syno_hddv2_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddv2_total#</span> - Utilisé : <span class="state">#syno_hddv2_used#</span> (<span class="state" style="color: var(--al-danger-color) !important;">#syno_hddv2_used_percent#</span><span>%</span>)';
					} else {
						document.getElementById('syno_hddv2_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddv2_total#</span> - Utilisé : <span class="state">#syno_hddv2_used#</span> (<span class="state">#syno_hddv2_used_percent#</span><span>%</span>)';
					}
				}
			}
		</script>
		<div id="synovolusb#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolumeusb_display#' == 'OK') {
					document.getElementById('synovolusb#id#').innerHTML = '<div id="synovolusb#id#" class="cmd tooltips" style="margin-left:5px;display: #syno_hddusb_display#;"><span title="Syno Volume USB (% utilisé) || Date valeur : #syno_hddusb_value# || Date collecte : #syno_hddusb_collect#" style="width:15px;max-width:15px;max-height:15px;">#syno_hddusb_icon#</span> <span id="syno_hddusb_used_percent#id#"></span></div>';
					if ('#syno_hddusb_used_percent#' === '') {
						document.getElementById('syno_hddusb_used_percent#id#').innerHTML = '<span></span>';
					} else if (parseInt('#syno_hddusb_used_percent#') < parseInt('#syno_hddusb_used_percent_colorlow#')) {
						document.getElementById('syno_hddusb_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddusb_total#</span> - Utilisé : <span class="state">#syno_hddusb_used#</span> (<span class="state" style="color: var(--al-success-color) !important;">#syno_hddusb_used_percent#</span><span>%</span>)';
					} else if ((parseInt('#syno_hddusb_used_percent#') >= parseInt('#syno_hddusb_used_percent_colorlow#')) && (parseInt('#syno_hddusb_used_percent#') <= parseInt('#syno_hddusb_used_percent_colorhigh#'))) {
						document.getElementById('syno_hddusb_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddusb_total#</span> - Utilisé : <span class="state">#syno_hddusb_used#</span> (<span class="state" style="color: var(--al-warning-color) !important;">#syno_hddusb_used_percent#</span><span>%</span>)';
					} else if ((parseInt('#syno_hddusb_used_percent#') > parseInt('#syno_hddusb_used_percent_colorhigh#')) && '#syno_hddusb_used_percent_colorhigh#' !== '') {
						document.getElementById('syno_hddusb_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddusb_total#</span> - Utilisé : <span class="state">#syno_hddusb_used#</span> (<span class="state" style="color: var(--al-danger-color) !important;">#syno_hddusb_used_percent#</span><span>%</span>)';
					} else {
						document.getElementById('syno_hddusb_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddusb_total#</span> - Utilisé : <span class="state">#syno_hddusb_used#</span> (<span class="state">#syno_hddusb_used_percent#</span><span>%</span>)';
					}
				}
			}
		</script>
		<div id="synovolesata#id#"></div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#synovolumeesata_display#' == 'OK') {
					document.getElementById('synovolesata#id#').innerHTML = '<div id="synovolesata#id#" class="cmd tooltips" style="margin-left:5px;display: #syno_hddesata_display#;"><span title="Syno Volume eSATA (% utilisé) || Date valeur : #syno_hddesata_value# || Date collecte : #syno_hddesata_collect#" style="width:15px;max-width:15px;max-height:15px;">#syno_hddesata_icon#</span> <span id="syno_hddesata_used_percent#id#"></span></div>';
					if ('#syno_hddesata_used_percent#' === '') {
						document.getElementById('syno_hddesata_used_percent#id#').innerHTML = '<span></span>';
					} else if (parseInt('#syno_hddesata_used_percent#') < parseInt('#syno_hddesata_used_percent_colorlow#')) {
						document.getElementById('syno_hddesata_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddesata_total#</span> - Utilisé : <span class="state">#syno_hddesata_used#</span> (<span class="state" style="color: var(--al-success-color) !important;">#syno_hddesata_used_percent#</span><span>%</span>)';
					} else if ((parseInt('#syno_hddesata_used_percent#') >= parseInt('#syno_hddesata_used_percent_colorlow#')) && (parseInt('#syno_hddesata_used_percent#') <= parseInt('#syno_hddesata_used_percent_colorhigh#'))) {
						document.getElementById('syno_hddesata_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddesata_total#</span> - Utilisé : <span class="state">#syno_hddesata_used#</span> (<span class="state" style="color: var(--al-warning-color) !important;">#syno_hddesata_used_percent#</span><span>%</span>)';
					} else if ((parseInt('#syno_hddesata_used_percent#') > parseInt('#syno_hddesata_used_percent_colorhigh#')) && '#syno_hddesata_used_percent_colorhigh#' !== '') {
						document.getElementById('syno_hddesata_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddesata_total#</span> - Utilisé : <span class="state">#syno_hddesata_used#</span> (<span class="state" style="color: var(--al-danger-color) !important;">#syno_hddesata_used_percent#</span><span>%</span>)';
					} else {
						document.getElementById('syno_hddesata_used_percent#id#').innerHTML = 'Total : <span class="state">#syno_hddesata_total#</span> - Utilisé : <span class="state">#syno_hddesata_used#</span> (<span class="state">#syno_hddesata_used_percent#</span><span>%</span>)';
					}
				}
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #cpu_display#;">
			<span title="Nombre CPU - Fréquence (Température) || Date valeur : #cpu_value# || Date collecte : #cpu_collect#" style="width:15px;max-width:15px;max-height:15px;">#cpu_icon#</span>
			<span id="cpu#id#"></span><span id="cpu_temp#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#cpu_temp#' !== '' && '#cpu_temp_display#' == 'OK') {
					document.getElementById('cpu#id#').innerHTML = '<span>#cpu# </span>';
					if (parseFloat('#cpu_temp#') < parseFloat('#cpu_temp_colorlow#')) {
						document.getElementById('cpu_temp#id#').innerHTML = ' (<span class="state" style="color: var(--al-success-color) !important;">#cpu_temp#</span><span>°C</span>)';
					} else if ((parseFloat('#cpu_temp#') >= parseFloat('#cpu_temp_colorlow#')) && (parseFloat('#cpu_temp#') <= parseFloat('#cpu_temp_colorhigh#'))) {
						document.getElementById('cpu_temp#id#').innerHTML = ' (<span class="state" style="color: var(--al-warning-color) !important;">#cpu_temp#</span><span>°C</span>)';
					} else if ((parseFloat('#cpu_temp#') > parseFloat('#cpu_temp_colorhigh#')) && '#cpu_temp_colorhigh#' !== '') {
						document.getElementById('cpu_temp#id#').innerHTML = ' (<span class="state" style="color: var(--al-danger-color) !important;">#cpu_temp#</span><span>°C</span>)';
					} else {
						document.getElementById('cpu_temp#id#').innerHTML = ' (<span class="state">#cpu_temp#</span><span>°C</span>)';
					}
				} else {
					document.getElementById('cpu#id#').innerHTML = '<span>#cpu#</span>';
				}
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #perso1_display#;">
			<span title="#perso1_name# || Date valeur : #perso1_value# || Date collecte : #perso1_collect#" style="width:15px;max-width:15px;max-height:15px;">#perso1_icon#</span>
			<span id="perso1_unite#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#perso1#' !== '') {
					if (parseFloat('#perso1#') < parseFloat('#perso1_colorlow#')) {
						document.getElementById('perso1_unite#id#').innerHTML = '<span class="state" style="color: var(--al-success-color) !important;">#perso1#</span><span>#perso1_unite#</span>';
					} else if ((parseFloat('#perso1#') >= parseFloat('#perso1_colorlow#')) && (parseFloat('#perso1#') <= parseFloat('#perso1_colorhigh#'))) {
						document.getElementById('perso1_unite#id#').innerHTML = '<span class="state" style="color: var(--al-warning-color) !important;">#perso1#</span><span>#perso1_unite#</span>';
					} else if ((parseFloat('#perso1#') > parseFloat('#perso1_colorhigh#')) && '#perso1_colorhigh#' !== '') {
						document.getElementById('perso1_unite#id#').innerHTML = '<span class="state" style="color: var(--al-danger-color) !important;">#perso1#</span><span>#perso1_unite#</span>';
					} else {
						document.getElementById('perso1_unite#id#').innerHTML = '<span>#perso1#</span><span>#perso1_unite#</span>';						
					}
				} else {
					document.getElementById('perso1_unite#id#').innerHTML = '<span></span>';
				}
			}
		</script>
		<div class="cmd tooltips" style="margin-left:5px;display: #perso2_display#;">
			<span title="#perso2_name# || Date valeur : #perso2_value# || Date collecte : #perso2_collect#" style="width:15px;max-width:15px;max-height:15px;">#perso2_icon#</span>
			<span id="perso2_unite#id#"></span>
		</div>
		<script>
			if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
				if ('#perso2#' !== '') {
					if (parseFloat('#perso2#') < parseFloat('#perso2_colorlow#')) {
						document.getElementById('perso2_unite#id#').innerHTML = '<span class="state" style="color: var(--al-success-color) !important;">#perso2#</span><span>#perso2_unite#</span>';
					} else if ((parseFloat('#perso2#') >= parseFloat('#perso2_colorlow#')) && (parseFloat('#perso2#') <= parseFloat('#perso2_colorhigh#'))) {
						document.getElementById('perso2_unite#id#').innerHTML = '<span class="state" style="color: var(--al-warning-color) !important;">#perso2#</span><span>#perso2_unite#</span>';
					} else if (parseFloat('#perso2#') > parseFloat('#perso2_colorhigh#') && '#perso2_colorhigh#' !== '') {
						document.getElementById('perso2_unite#id#').innerHTML = '<span class="state" style="color: var(--al-danger-color) !important;">#perso2#</span><span>#perso2_unite#</span>';
					} else {
						document.getElementById('perso2_unite#id#').innerHTML = '<span>#perso2#</span><span>#perso2_unite#</span>';
					}
				} else {
					document.getElementById('perso2_unite#id#').innerHTML = '<span></span>';
				}
			}
		</script>
	</div>
	#divGraphInfo#
</div>